/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





.header-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 3000px; */
    width: 100%;
    background-color: black;
    z-index: -10;
    /* top: -20px; */
    /* position: relative; */
    /* border: dotted yellow; */
}

.search{
    color:white;
}

.search-cart {
    display: flex;
    flex-direction: row;
}

.the-containers {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px darkorange dashed; */
}

.first-container {
    width: 61%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    top: 0px;
    /* border: white 1px dotted; */
    width: 100%;
}

.second-container {
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: black;
    color: white;
    /* border: blue 5px dotted; */
    width: 100%;
    padding-bottom: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.56rem;
}

.empty-offset {
    width: 15rem;
    /* border: 3px darkorange pink; */
    height: 10px;
}

.logo {
    
}

.links {
    font-size: 20px;
}

.each-link{
    text-decoration: none;
    padding: 10px;
    font-size: 1.8rem;
    color:lightgray;
}

.each-link:hover{
    color: white;
}

.search-cart Link {
    color:lightgray;
}

.search-cart Link:hover{
    color:white;
}

.username {
    color:lightgray;
}

.username:hover {
    color: white;
}

.loginregister-link {
    color:lightgray;
}
.loginregister-link:hover {
    color: white;   
}

.cart-link {
    color:lightgray;
}

.cart-link:hover{
    color:white;
}

.logout-link {
    color:lightgray;
}

.logout-link:hover{
    color: white;
}


@media (max-width: 1200px){
    .each-link{
        font-size: 1.4rem;
        padding: 5px
    }
    .second-container{
        padding-left: 50px;
    }
}

@media (max-width: 850px){
    .second-container{
        padding-left: 20px;
    }
    .each-link{
        padding: 2px;
    }
}


@media (max-width: 600px){
    .each-link{
        font-size: 1rem;
        padding: 1px
    }
}