/* .header-1 {
    background-image: url('https://images.unsplash.com/photo-1519255903420-ba9ebf45288e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    height: 350px;
    overflow: visible;
    border: red 2px dashed;
    background-repeat: no-repeat;

} */

.header-1-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pb-logo{
    padding: 4px;
    letter-spacing: 1px;
    color: white;
    background: red;
    font-family: 'Bangers', cursive;
    margin-right: 2px;
    font-size: 1.2rem;
}

.pinkbike-logo{
    letter-spacing: 2px;
    color: white;
    background: black;
    font-family: 'Bangers', cursive;
    font-size: 1.2rem;

}

.pinkbike-logo-link{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navy-nav a {
    color:white;
    text-decoration: none;
}

.navy-nav a:hover{
    background-color: #AE0000;
    padding: 2px;
    border-radius: 2px;
}

.black-nav a:hover{
    background-color: #AE0000;
    padding: 2px;
    border-radius: 2px;
}

.black-nav a {
    color:white;
    text-decoration: none;
}


.black-nav {
    /* border: 2px darkorange dashed; */
    background-color: black;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.between {
    /* border: 2px purple dashed; */
    width: 100%;
    height: 94px;
}

.navy-nav {
    /* border: 2px darkorange dashed; */
    background-color: #1E3144;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty {
    /* border: 2px dashed lightblue; */
    width: 100%;
    height: 184px;
}

/* #AE0000, #1E3144 */


@media (max-width: 650px){
    .navy-nav{
        font-size: 0.9rem;
    }
    .collections-link{
        display: none;
    }
    .mens-link{
        display: none;
    }
    .womens-link{
        display: none;
    }
    .footwear-link{
        display: none;
    }
    .headwear-link{
        display: none;
    }
    .misc-link{
        display: none;
    }
    .empty {
       height: 100px;
    }
    .between{
        height: 60px;
    }
    .black-nav img {
        height: 28px;
    }
}
