.loginregister-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;

}

.loginregister{
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.last-loginregister-input {
    margin-bottom: 5px;
}


