.footer-2{
    background-color: black;
    color: white;
    height: 13.6rem;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    /* margin: 0; */
}

.first-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
}

.second h3 {
    font-size: 1.5rem;
}

.second-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media (max-width: 850px){
    .first-box{
        font-size: 0.7rem;
    }
    .second-box{
        font-size: 0.7rem;
    }
    .second h3 {
        font-size: 1.3rem;
    }
}


