.carousel-inner {
    padding: 0 !important
}

.slide-img{
    width: 100%;
    height: 82%;
}

.carousel-item.active{
    padding: 0 !important
}

.carousel-item-left {
    padding: 0 !important;
}

.carousel-link h3 {
    color: lightgray;
    font-weight: bold;
    background-color: #AE0000;
    margin: 0;
    border-radius: 3px;
    width: 40%;
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95rem;
}

.carousel-link h3:hover{
    text-decoration: none !important;
    color: white;
}
.carousel-link:hover{
    text-decoration: none !important;
    color: white;
}
.sub-title-link:hover{
    text-decoration: none !important;
    color: white;
}

.sub-title-link p {
    color: lightgray;
    background-color:black;
    border-radius: 3px;
    width: 40%;
    height: 25px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95rem;
}

.sub-title-link p:hover {
    color:white;
    text-decoration: none;
}



@media(max-width:1050px){
    .carousel-link h3{
        font-size: 1rem;
    }
    .sub-title-link p {
        font-size: 0.85rem;
    }
}


@media(max-width: 650px){
    .carousel-link h3{
        font-size: 0.7rem;
        padding: 10px;
    }
    .sub-title-link p {
        font-size: 0.55rem;
    }
}