.each-bike-img {
    height: 100%;
    padding: 30px;
}

.bike-right-column {
    display: flex;

}

.inquiring {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bike-right-column button {
    width: 20%;
}

.each-individ-bike {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 370px;
    /* border: 2px dashed darkorange; */
    margin-bottom: 300px;
}

.each-individ-bike-title{
    font-size: 1.2rem;
    font-weight: bold;
}

.each-individ-bike-description{
    padding: 5px;
    border: 1px black solid;
    margin: 2px 0px 10px 0px;
    width: 300px;
    height: 120px;
}


.each-bike-middle-section{
    height: 100%;
    border: 2px solid pink;
    border-radius: 3px;
    padding: 5px;
}

.the-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inquiry-chat-section{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the-chat button {
    margin-left: 20px;
}

.back-link{
    padding-top: 20px;
}

.link-back-to-marketplace {
    margin: 20px;
    font-size: 1.2rem;
}

.link-back-to-marketplace:hover {
    text-decoration: none;
}

@media(max-width:1000px){
    .each-individ-bike{
        flex-direction: column;
    
    }
     img.each-bike-img{
        width: 280px;
        height: 220px;
        margin: 0;
    }
    .each-bike-middle-section{
        font-size: 0.7rem;
    }
}

