.each-bike {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.each-bike-img {
    width: 30%;
}

.bike-right-column {
    display: flex;
    flex-direction: column;

}