


.each-bike {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 800px;
    border-top: 2px solid darkgray;
    border: 3px solid black;
    margin: 3px;
    padding: 15px;
}

Link:hover {
    text-decoration: none;
}

.each-bike:hover {
    background-color: lightgray;
    text-decoration: none;
}

.eachbike:hover {
    text-decoration: none;
}

.each-bike-img {
    width: 30%;
    margin-right: 20px;
    border: 2px solid pink;
    border-radius:3px;
}

.bike-right-column {
    display: flex;
    flex-direction: column;
    color: black;

}

.bike-title{
    font-size: 1.6rem;
}

.each-marketplace-bike {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media(max-width:800px){
    .each-bike{
        width: 500px;
        font-size: 0.8rem;
    }
    .bike-title{
        font-size: 1.1rem;
    }
}

@media(max-width:500px){
    .each-bike{
        width: 300px;
        font-size: 0.6rem;
    }
    .bike-title{
        font-size: 0.9rem;
    }
}


